<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250748487141-o74putd89kipnvqutnjcvrfu2uruhprs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250748487141-o74putd89kipnvqutnjcvrfu2uruhprs</string>
	<key>API_KEY</key>
	<string>AIzaSyBXiE-tE5s6Ub__cjKiP-bNkQKlVMVb3cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>250748487141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jca.examen-ios</string>
	<key>PROJECT_ID</key>
	<string>primerproyectofirebase-4f03b</string>
	<key>STORAGE_BUCKET</key>
	<string>primerproyectofirebase-4f03b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250748487141:ios:19f82caa572d0b90f11b0c</string>
	<key>DATABASE_URL</key>
	<string>https://primerproyectofirebase-4f03b.firebaseio.com</string>
</dict>
</plist>